@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <CascadingValue Value="this" IsFixed="true">
        @StepTemplate
    </CascadingValue>
    @if (Init)
    {
        <RenderTemplate>
            @foreach (var step in Items)
            {
                @RenderStep(step)
            }
            <div class="steps-body">
                @CurrentStep?.ChildContent
            </div>
        </RenderTemplate>
    }
</div>

@code {
    RenderFragment<Step> RenderStep => step =>
    @<div class="@StepHeaderClassString">
        <div @attributes="@AdditionalAttributes" class="@ClassString" style="@StepStyleString(step)">
            <div class="@HeadClassString">
                <div class="step-line" style="margin-right: 0px;">
                    <i class="step-line-inner" style="@LineStyleString">
                    </i>
                </div>
                <div class="@StepIconClassString(step)">
                    <i class="@IconClassString(step)">@StepString(step)</i>
                </div>
            </div>
            <div class="step-main">
                <div class="@TitleClassString">@step.Title</div>
                @if (step.DescriptionTemplate != null)
                {
                    @step.DescriptionTemplate
                }
                else
                {
                    <div class="@DescClassString">@step.Description</div>
                }
            </div>
        </div>
    </div>;
}
