@page "/tables/datatable"

@using System.Data
<h3>Table 表格</h3>

<Block Title="绑定DataTable" Introduction="仅显示DataTable中的数据">
    <Table TItem="DataRowAdapter" DataTable="@dataTable1">
    </Table>
</Block>


<h4>支持动态添加列，删除列，默认最后一列不可删除</h4>

<Block Title="绑定DataTable" Introduction="使用自定义适配器，控制列的显示，属性的验证规则等，同时支持动态添加和删除列，以及对DataTable的增删改操作">
    <Table TItem="DataRowAdapter" DataTable="@dataTable2" DataTableAdapter="@customDataTableAdapter"
           ShowToolbar="true"
           ShowAddButton="true"
           ShowDeleteButton="true" ClickToSelect="true"
           ShowEditButton="true">
        <TableToolbarTemplate>
            <TableToolbarButton TItem="DataRowAdapter" Color="Color.Primary" Icon="fa fa-fw fa-edit" Text="添加列" OnClickCallback="@AddColumn" />
            <TableToolbarButton TItem="DataRowAdapter" Color="Color.Success" Icon="fa fa-fw fa-edit" Text="删除列" OnClickCallback="@DeleteLastColumn" />
        </TableToolbarTemplate>
    </Table>
</Block>
