@page "/signaturepads"
@inject IStringLocalizer<SignaturePads> Localizer
@namespace BootstrapBlazor.Shared.Samples

<h3>@Localizer["Title"]</h3>


<DemoBlock Title="@Localizer["BaseUsageText"]" Name="Base" Introduction="">
<pre>
<code style="color:gray">
&lt;SignaturePad OnResult="OnResult" BtnCssClass="btn btn-outline-success" /&gt;
</code>
</pre>

    <SignaturePad OnResult="OnResult" />

    @if (Result != null)
    {
        <div>
            <p></p>
            <p>@Localizer["ResultText"]</p>
            <img src="@Result" style="background-color: beige ; max-width: 50%; " />
            <p></p>
            <p>@Localizer["ResultBase64Text"]</p>
            <textarea type="text" class="form-control" style="min-width: 100px;max-width: 50%;" rows="4"
                      @bind="Result"
                      placeholder="Base64" />
        </div>
    }
</DemoBlock>

<DemoBlock Title="@Localizer["ButtonCssStyleText"]" Name="ButtonCssStyle" Introduction="">
    <pre>
<code style="color:gray">
&lt;SignaturePad OnResult="OnResult" BtnCssClass="btn btn-outline-success" /&gt;
        </code>
    </pre>
    <SignaturePad OnResult="OnResult2" BtnCssClass="btn btn-outline-success" />

    @if (Result2 != null)
    {
        <div>
            <p>@Localizer["ResultText"]</p>
            <img src="@Result2" style="background-color: beige ; max-width: 50%; " />
        </div>
    }

</DemoBlock>

<DemoBlock Title="@Localizer["CustomButtonText"]" Name="CustomButton" Introduction="">
    <pre>
    <code style="color:gray">
&lt;SignaturePad OnResult="OnResult"
        SignAboveLabel="Sign above"
        UndoBtnTitle="Undo"
        SaveBase64BtnTitle="OK"
        ChangeColorBtnTitle="Change color"
        ClearBtnTitle="Clear" /&gt;
    </code>
</pre>
    <SignaturePad OnResult="OnResult3"
                  SignAboveLabel="Sign above"
                  UndoBtnTitle="Undo"
                  SaveBase64BtnTitle="OK"
                  ChangeColorBtnTitle="Change color"
                  ClearBtnTitle="Clear" />

    @if (Result3 != null)
    {
        <div>
            <p>@Localizer["ResultText"]</p>
            <img src="@Result3" style="background-color: beige ; max-width: 50%; " />
        </div>
    }

</DemoBlock>

<DemoBlock Title="@Localizer["ResponsiveInterfaceText"]" Name="ResponsiveInterface" Introduction="@Localizer["TipsResponsive"]">

    <a class="btn btn-primary"
       type="button"
       href="signaturepadResponsive">
        @Localizer["ResponsiveInterfaceText"]
    </a>

</DemoBlock>

<Tips>
    <p>@((MarkupString)Localizer["Tips"].Value)</p>
</Tips>

<AttributeTable Items="@GetAttributes()" />
